.maplibregl-ctrl button.maplibregl-ctrl-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.maplibregl-ctrl button.maplibregl-ctrl-icon svg {
  width: 18px;
  height: 18px;
  display: block;
}
