.maplibregl-ctrl-group.maplibregl-ctrl > button.maplibregl-ctrl-zoom-out {
  margin-top: 3.5px;
  margin-bottom: 3.5px;
}
.maplibregl-ctrl-group.maplibregl-ctrl > button.maplibregl-ctrl-zoom-in {
  margin-top:3.5px;
  margin-bottom: 3.5px;
}
body{
  margin: 0;
}

html, body, #root {
  height: 100vh;
  background-color: #000;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  overflow-y: auto;
}