.maplibregl-ctrl-group.maplibregl-ctrl > button.maplibregl-ctrl-zoom-out {
  margin-top: 3.5px;
  margin-bottom: 3.5px;
}
.maplibregl-ctrl-group.maplibregl-ctrl > button.maplibregl-ctrl-zoom-in {
  margin-top:3.5px;
  margin-bottom: 3.5px;
}